body {
  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
  font-family:
    Courier New,
    sans-serif;
  color: #696969;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #fff8dc;
}

li a {
  text-decoration: none;
  color: #fffff0;
}

header {
  background: #a9c191;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: #fffff0;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 10px;
}

cube-container {
  padding: 100px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}

input,
textarea {
  width: 50%;
  padding: 8px;
  margin: 10px 0;
}

button {
  background: DarkOliveGreen;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background: #0056b3;
}
